html {
    font-size: 14px;
    min-height: 100%;
    position: relative;
    background-color: #E5E0D8;
}


@media (min-width: 768px) {
    html {
        font-size: 16px;
    }
}

.btn:focus, .btn:active:focus, .btn-link.nav-link:focus, .form-control:focus, .form-check-input:focus {
    box-shadow: 0 0 0 0.1rem #809671, 0 0 0 0.25rem white;
}

/* Estilos generales */
body {
    margin: 0;
    padding: 0 0 60px; /* Deja espacio para el footer */
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
    background-color: #E5E0D8;
    min-height: 100%;
    position: relative;
}

/* Contenedor principal centrado */
.row {
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100%;
}

/* Encabezado */
h1 {
    color: #333;
    font-size: 2.5rem;
    text-align: center;
}
.container h2 {
    color: black;
    font-size: 2.5rem;
    text-align: center;
}


.ImgLogo{
    align-items:center;
    position:relative;
    top:20px;
}

.centrada {
    display: block;
    margin: auto;
    width: 50%; /* Ajusta el tamaño al 50% del contenedor */
    max-width: 300px; /* Tamaño máximo para evitar imágenes demasiado grandes */
}

.koulen-regular {
    color: #849671;
    font-family: "Koulen", sans-serif;
}

.TituloIS {
    font-family: "Lilita One", serif;
    font-weight: 400;
    font-style: normal;
    font-size:40px;
}
.logopi {
    margin: auto;
    width: 50%; /* Ajusta el tamaño al 50% del contenedor */
    max-width: 80px;
}

.imagen-bienvenida {
    display: flex;
    align-items: center;
    padding: 10px 20px;
}
.cerrar-sesion{
    padding-left: 900px;
}
.Subtitulo {
    font-family: "Kosugi Maru", serif;
    font-weight: 400;
    font-style: normal;
}
/* Contenedor de la columna */
.col-md-4 {
    background-color: #ffffff;
    padding: 30px;
    border-radius: 10px;
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
    width: 100%;
    max-width: 400px;
    text-align: center;
}

/* Formularios */
.form-group {
    margin-bottom: 20px;
    text-align: left;
}

.form-control {
    border: 1px solid #ccc;
    border-radius: 5px;
    padding: 10px;
    font-size: 1rem;
}

.control-label {
    font-family: "Kosugi Maru", serif;
    font-weight: 400;
    font-style: normal;
}

.Buscar {
    margin-bottom: 20px;
    text-align: left;
    width: 35%;
}

input:focus {
    border-color: #007bff;
    box-shadow: 0 0 8px rgba(0, 123, 255, 0.2);
    outline: none;
}

/* Botón de iniciar sesión */
.btn-primary {
    background-color: #E5E0D8;
    border-color: #E5E0D8;
    color: black;
    padding: 10px 20px;
    font-size: 1rem;
    border-radius: 5px;
    transition: background-color 0.3s ease;
    width: 100%;
    font-family: "Kosugi Maru", serif;
    font-weight: 400;
    font-style: normal;
}

    .btn-primary:hover {
        background-color: #809671;
    }

.btn-buscar {
    background-color: #809671;
    border-radius: 10px;
    color: white;
    padding: 10px 20px;
    font-size: 1rem;
    border-radius: 5px;
    transition: background-color 0.3s ease;
    width: 20%;
    margin-bottom: 25px;
}
.btn-success {
    margin-top: 20px; /* Asegura suficiente separación del botón Buscar */
    background-color: #809671;
    border-color: #809671;
    color: white;
    padding: 10px 20px;
    font-size: 1rem;
    margin-bottom: 5px;
    transition: background-color 0.3s ease;
}

/* Estilo general para las tablas */
table {
    width: 100%; /* Asegura que ocupe todo el ancho del contenedor */
    border-collapse: separate; /* Permite espacio entre las celdas */
    border-spacing: 10px; /* Espaciado entre celdas */
    margin-top: 20px; /* Separación de otros elementos */
    background-color: #ffffff; /* Fondo blanco para destacar */
    border: 1px solid #ddd; /* Bordes suaves */
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1); /* Sombras para destacar */
    border-radius: 8px; /* Bordes redondeados */
    overflow: hidden;
}

    /* Encabezado de la tabla */
    table thead th {
        background-color: #f4f4f4; /* Color claro para el encabezado */
        color: #333; /* Texto oscuro */
        font-weight: bold; /* Texto en negrita */
        text-align: center; /* Centrar texto */
        padding: 10px; /* Espaciado dentro de la celda */
        border-bottom: 2px solid #ddd; /* Separador inferior */
        font-family: "Kosugi Maru", serif;
        font-weight: 400;
        font-style: normal;
        font-weight: bold;
    }

    /* Celdas de la tabla */
    table td, table th {
        padding: 15px; /* Espaciado interno de las celdas */
        text-align: center; /* Centrar texto */
        vertical-align: middle; /* Alineación vertical */
        border-bottom: 1px solid #ddd; /* Separador entre filas */
    }

.tabla-body {
    font-family: "Kosugi Maru", serif;
    font-weight: 400;
    font-style: normal;
}
/* Alternar colores de las filas */
table tbody tr:nth-child(even) {
    background-color: #f9f9f9; /* Color más claro */
}

    table tbody tr:nth-child(odd) {
        background-color: #ffffff; /* Fondo blanco */
    }

    /* Resaltar fila al pasar el cursor */
    table tbody tr:hover {
        background-color: #f1f1f1; /* Resaltar fila */
    }

.totales1 {
    margin: 10px;
    border-radius: 10px;
    padding: 10px;
    background-color: white;
    text-align:inherit
}

.totales2 {
    margin: 10px;
    border-radius: 10px;
    padding: 10px;
    background-color: white;
}

.totales3 {
    margin: 10px;
    border-radius: 10px;
    padding: 10px;
    background-color: white;
}

.text-right {
    font-family: "Kosugi Maru", serif;
    font-weight: 400;
    font-style: normal;
}
.precio1 {
    padding-left: 550px;
}

.precio2 {
    padding-left: 500px;
}
.precio3 {
    padding-left: 650px;
}


/* Mensaje de registro */
div > p {
    margin-top: 20px;
    text-align: center;
    font-family: "Kosugi Maru", serif;
    font-weight: 400;
    font-style: normal;
}

    div > p a {
        color: #007bff;
        text-decoration: none;
    }

        div > p a:hover {
            text-decoration: underline;
        }

/* Texto de error */
.text-danger {
    color: #dc3545;
}

/* Responsividad */
@media (max-width: 768px) {
    .col-md-4 {
        width: 90%;
    }
}

/* Estilos del footer */
footer {
    position: fixed;
    background-color: #f8f9fa;
    padding: 5px 0;
    box-shadow: 0 -2px 5px rgba(0, 0, 0, 0.1);
    width: 100%;
    bottom: 0;
    clear: both;
}

    /* Contenedor del pie de página */
    footer .container {
        display: flex;
        max-height: 30px;
        justify-content: left;
        align-items: left;
        font-size: 0.9rem;
        color: #6c757d;
    }

    /* Estilo del enlace de privacidad */
    footer .privacy-link {
        margin-left: 10px;
        color: #007bff;
        text-decoration: none;
    }

        footer .privacy-link:hover {
            text-decoration: underline;
        }
